.square-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border: 1px solid white;
}

.square-image-caption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 250px;
    font-size: 0.8em;
    padding-top: 0.3em;
}

.full-screen-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    border: 1px solid white;
}

.full-screen-image-caption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
    font-size: 0.8em;
    padding-top: 0.3em;
}

.massive-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border: 1px solid white;
}
