**/.DS_Store
**/.venv
**/__pycache__
**/.vscode
**/.unpublished
**/build
**/dist/*
!**/dist/Pilgrim Autosplitter.exe
**/_site
**/.jekyll-cache
pilgrim_autosplitter.spec
**/.pytest_cache
saves/
.vendor/
.tools-gh
livesplit-desktop-integration/bin/
livesplit-desktop-integration/obj/
livesplit-desktop-integration/tools/**/bin/
livesplit-desktop-integration/tools/**/obj/
